DEFAULT_OPTIONS
LEVEL               
UNITS               
LOOK_BACK           
SPEED               
FLAG_ICONS          
NUM_OF_STATE_COLORS 0
YMAX_SCALE          

DEFAULT_SEMANTIC
THREAD_FUNC         

STATES

STATES_COLOR

EVENT_TYPE
0   94000001    Write ratio
0   94000002    Bandwidth
0   94000003    Maximum bandwidth
0   94000004    Latency
0   94000005    Lead-off latency
0   94000006    Maximum latency
0   94000007    Stress score
0   94000008    Mean number of memory reads per second
0   94000009    Mean number of memory writes per second
PRECISION 2

