body {
    background-color: #e4e6eb;  /* soft gray color for whole webpage background */
    font-family: Arial, sans-serif;  /* Use Arial as default font */
    overflow-x: hidden;  /* Prevent horizontal scrollbar */
    margin: 2rem 1rem;  /* Space from top and sides of the page */
}

.corporative-button {
    background-color: #1f3970;
    border-color: #1f3970;
    color: #fff;
}

.pdf-button {
    float: right;
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 5px 5px 0 0;
}

/* Sidebar */
.sidebar {
    padding: 1rem 1rem;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 1rem;
    /* height: calc(100vh - 220px);  This can ensure it takes up the full height */
    /* overflow-y: auto;  In case the sidebar content exceeds the viewport height */
}
.sidebar-element {
    padding-bottom: 2rem;
}
.sidebar-button {
    width: 60%;
    margin: auto;
    display: block;
}
/* Sliders */
.rc-slider-track, .rc-slider-handle {
    background-color: #1f3970 !important;
    border-color: #1f3970 !important;
}
.rc-slider-step span {
    background-color: #1f3970 !important;
}
.rc-slider-dot-active {
    border-color: #1f3970 !important;
}

/* ToggleSwitch
.dash-bootstrap .custom-switch .custom-control-input:checked~.custom-control-label::before {
    background-color: #1f3970;
    border-color: #1f3970;
} */

/* Tabs */
.tab-content {
    background-color: white;
    padding: 2rem 1rem;
}
.nav-tabs{
    --bs-nav-tabs-border-color: #1f3970;
    --bs-nav-tabs-border-width: 2px;
    --bs-nav-tabs-link-hover-border-color: #1f3970 #1f3970 white;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: 2px solid #1f3970;
    border-bottom: 2px solid white;
    box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.5);
}
.nav-tabs .nav-link {
    color: #6c757d;
    font-weight: 700;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: none;
}

.summary-section-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Summary table */
.summary-table {
    font-family: Arial, sans-serif;
    text-align: left;
    width: 70%;
    margin-bottom: 3rem;
}
.summary-table thead {
    background-color: #1f3970;
    color: white;
    /* text-align: center; */
}
.summary-table tbody tr:nth-child(odd) {
    background-color: #ffffff;  /* Lighter stripe color for odd rows */
}
.no-border-thead {
    border-top: none !important;
    border-right: none !important;
}

.tab-summary::before, .app-overview::before, .single-roofline::before, .curves::before, .mem-roofline::before {
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    margin-right: 10px;
    content: "";
}

.tab-summary::before {
    background-image: url('/assets/svgs/info.svg');
}

.app-overview::before {
    background-image: url('/assets/svgs/app.svg');
}

.single-roofline::before {
    background-image: url('/assets/svgs/roofline.svg');
}

.curves::before {
    background-image: url('/assets/svgs/curves.svg');
}

.mem-roofline::before {
    background-image: url('/assets/svgs/roofline.svg');
}


.active-summary-label::before {
    background-image: url('/assets/svgs/info-active.svg');
}

.active-app-overview-label::before {
    background-image: url('/assets/svgs/app-active.svg');
}

.active-single-roofline-label::before {
    background-image: url('/assets/svgs/roofline-active.svg');
}

.active-curves-label::before {
    background-image: url('/assets/svgs/curves-active.svg');
}

.active-mem-roofline-label::before {
    background-image: url('/assets/svgs/roofline-active.svg');
}